*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --primary-color: white;
    --secondary-color: black;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}

body{
    background: var(--primary-color);
}


#icon{
    width: 30px;
    cursor: pointer;
}

.img-container{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image{
    max-width: 100%;
    max-height: 100%;
}

.file-upload-section{
    margin: auto;
    margin-top: 5%;
    font-weight: bold;
    width: 49.1%;
    padding: 5px;
    color: var(--primary-color);
    text-align: center;
    background: var(--secondary-color);
    cursor: pointer;
}

#foto-file{display: none;}


.button-section{
    position: fixed;
    margin: auto;
    top: 74%;
    left: 25%;
    color: var(--secondary-color);
    width: 50%;
}

.upper-button-section{
    top: 32%;
    width: 50%;
    margin: auto;
}

#rotate-range{
    width: 90px;
    float: right;
}

.button-table{
    width: 100%;
}

.button-table{
    padding: 3px;
    text-align: center;
}

.operation-btn{
    padding: 8px;
    border: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
}

.download-btn{
    color: var(--primary-color);
    background: var(--secondary-color);
}

#color-picker, #colorized-color-picker{
    display: none;
}

#color-preview{
    float: left;
    width: 15px;
    height: 15px;
}

